.searchInput {
  padding: 10px;
  font-size: 16px;
  width: 400px;
  margin-bottom: 20px;
}

.userItemContainer {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-height: 400px;
  overflow-y: auto;
  top: 120px;
  padding: 10px;
  width: 400px;
  margin-bottom: 20px;
}

.container {
  position: relative;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .searchInput,
  .userItemContainer {
    width: 80%;
  }
}
