.searchInput {
  padding: 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.searchInput:hover,
.searchInput:focus {
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  outline: none;
}

.suggestActiveInput {
  border-radius: 24px 24px 0 0;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
}

.userItemContainer {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-height: 300px;
  border-radius: 0 0 24px 24px;
  border: 1px solid #dfe1e5;
  overflow-y: auto;
  top: 350px;
  padding: 16px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
}

.container {
  position: relative;
  text-align: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.container > img {
  width: 400px;
}

.searchInputContainer {
  position: relative;
  display: flex;
  text-align: center;
}

.searchInputIcon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}
/* Responsive styles */
@media (max-width: 600px) {
  .searchInput,
  .searchInputContainer {
    width: 100%;
    padding: 12px;
  }

  .userItemContainer {
    width: 100%;
    padding: 0;
  }

  .searchInputIcon {
    right: 10%;
  }
  .container > img {
    width: 250px;
  }

  .userItemContainer {
    top: 230px;
  }
}
