body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}

li {
  cursor: pointer;
  border: none;
}

main {
  padding: 0 15px 30px 15px;
  min-height: calc(100vh - 200px);
  background-color: #f0f0f0;
}

footer {
  background-color: #f6f8fa;
}

@media (max-width: 600px) {
  main {
    padding: 0 7vw 14vw 7vw;
  }
}
